body {
	font-family: sans-serif;
	font-size: 60px
	margin: 0;
	padding: 20px;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  clear: both;
}

#container {
	display: flex;
	flex-direction: row;
    height: 100vh; /* Ocupa todo el alto de la ventana */
}

#menu-izquierda {
    flex: 1;
    background-color: #f0f0f0;  /* Gris claro  #D3D3D3 */
    padding: 20px;
}

#map-container {
    flex: 2;
    background-color: #e0e0e0;
    padding: 20px;
}

#mapa {
    margin: auto;
}

#datos-derecha {
	flex: 1;
	display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #d0d0d0;
    padding: 20px;
}

#grafico-barras-provincias {
	width: 100%;
	flex-grow: 1;
}

#grafico-barras-tred {
	width: 100%;
	flex-grow: 1;
}

/* tooltip mapa */
#titulo-tooltip{
	font-weight: bold;
}

/* leyenda mapa*/
#leyenda {
  position: relative;
  top: -150px;
  left: 500px;
  padding: 10px;
}

#leyenda-valores span{
  width: 45px;
  height: 10px;
  display: inline-block;
}

#leyenda-colores span{

  width: 45px;
  height: 10px;
  display: inline-block;
}
